* {
  font-family: "Yeseva One", serif;
  margin: 0;
  padding: 0;
}

.h-screen {
  height: 100vh;
}
.bg-primary {
  background-color: #303030 !important;
}
.bg-white {
  background-color: #fff;
}
.w-350 {
  width: 350px;
}
input,
textarea,
select {
  border: 1px solid grey;
  height: 40px;
  width: 100%;
  padding-left: 10px;
}
input:focus {
  outline: none;
  border: 2px solid rgb(211, 142, 142);
}
textarea {
  min-height: 55px;
  padding-top: 10px;
}

.primary-contained-btn {
  background-color: #303030;
  border-radius: 0;
  padding: 0 8px;
  height: 28px;
  color: white;
  text-transform: uppercase;

  margin-bottom: 4px;
}
.primary-outlined-btn {
  padding: 0 8px;
  font-size: 12px;
  border-radius: 0;
  height: 28px;
  background-color: #fff;
  text-transform: uppercase;

  margin-bottom: 4px;
}
.ant-form-item {
  margin-bottom: 10px;
}
a {
  color: #303030 !important;
  text-decoration: none;
}
hr {
  margin: 8px 0;
}
